<!DOCTYPE html>
<head> 
  <link href="<%= url('/index.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
<%#header%>
<header id='top-bar'>
    <h1>Totally Money</h1>
</header>
<h2>User Details Form</h2>
<%# form container %>
  <div id='form-container'>
  <form action="/user_details" method="post">
    <input type="text" name="name" placeholder="name" id='name'>
    <br>
    <input type="text" name="financial_history" placeholder="financial history" id='financial history'>
    <br>
    <input type="text" name="employment_status" placeholder="employment status" id='employment_status'>
    <br>
    <input type="text" name="earnings" placeholder="earnings" id='earnings'>
    <br>
    <input type="text" name="postcode" placeholder="postcode" id='postcode'>
    <br>
    <input type="text" name="house_number" placeholder="house number" id='house_number'>
    <br>
    <input type="submit" value="submit" id='submit-btn'>
  </form>
</body>